* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", serif;
}
.container_1 {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
nav a.active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav a {
  text-decoration: none;
  color: rgba(115, 116, 118, 0.658);
}
